<footer class="bg-[#EEEEEE] py-10 px-6">
  <section class="max-w-7xl mx-auto grid grid-cols-2 md:grid-cols-4 gap-6">
    <!-- Column 1 -->
    <div>
      <h3 class="font-semibold text-black mb-2 text-base">
        Продукты Ecommercei.kz
      </h3>
      <ul class="space-y-4 text-black/40 font-roboto text-sm pt-2">
        <li>Ecommerce Gold</li>
        <li>Ecommerce Gold для ребёнка</li>
        <li>Ecommerce Red</li>
        <li>Ecommerce Депозит</li>
        <li>Кредит на Покупки</li>
        <li>Рассрочка</li>
        <li>Кредит для ИП</li>
        <li>Кредит наличными</li>
      </ul>
    </div>

    <!-- Column 2 -->
    <div>
      <h3 class="font-semibold text-black mb-2 text-base">
        Сервисы Ecommerce.kz
      </h3>
      <ul class="space-y-4 text-black/40 font-roboto text-sm pt-2">
        <li>Магазины</li>
        <li>Travel</li>
        <li>Платежи</li>
        <li>Мой банк</li>
        <li>Переводы</li>
        <li>Акции</li>
        <li>Госуслуги</li>
        <li>Объявления</li>
        <li>Kaspi Гид</li>
      </ul>
    </div>

    <!-- Column 3 -->
    <div>
      <h3 class="font-semibold text-black mb-2 text-base">Для Бизнеса</h3>
      <ul class="space-y-4 text-black/40 font-roboto text-sm pt-2">
        <li>Ecommerce Pay</li>
        <li>Бизнес Кредит</li>
        <li>Кредит для ИП</li>
        <li>Принимать платежи с Ecommerce.kz</li>
        <li>Ecommerce Гид</li>
        <li>Кабинет продавца</li>
      </ul>
    </div>

    <!-- Column 4 -->
    <div>
      <h3 class="font-semibold text-black mb-2 text-base">
        9999 Бесплатно с мобильного
      </h3>
      <ul class="space-y-4 text-black/40 font-roboto text-sm pt-2">
        <li>Пользовательское соглашение</li>
        <li>Вакансии</li>
        <li>Investor Relations</li>
        <li>Договор присоединения</li>
        <li>Договор на оказание услуги доставки</li>
      </ul>
    </div>
  </section>

  <section
    class="mt-8 border-t-2 border-gray-200 px-6 py-6 text-black/80 text-sm"
  >
    <div
      class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-[1fr_auto] gap-4 relative"
    >
      <div class="absolute right-0 top-0 flex items-center gap-4 text-black/50">
        <i class="pi pi-instagram text-xl"></i>
        <i class="pi pi-tiktok text-xl"></i>
        <i class="pi pi-send text-xl"></i>
        <i class="pi pi-youtube text-xl"></i>
        <i class="pi pi-facebook text-xl"></i>
        <i class="pi pi-twitter text-xl"></i>

        <img src="assets/svgs/vk.svg" class="w-5 h-5" alt="vk" />
        <img src="assets/svgs/odnoklassniki.svg" class="w-5 h-5" alt="ok" />

        <i class="pi pi-linkedin text-xl"></i>
      </div>

      <div class="pt-10 max-w-[50%]">
        <p class="mb-1">© 2012–2025, ТОО «Ecommerce Магазин»</p>
        <p class="mb-1">
          Все товарные знаки, размещённые на сайте, являются товарными знаками
          правообладателя и используются на сайте исключительно в информационных
          целях
        </p>
        <p class="text-xs mt-2">Фановый сайт</p>
      </div>
    </div>
  </section>
</footer>
