<div class="bg-white rounded-xl shadow p-6 flex flex-col h-[700px] relative">
  <h2 class="text-lg font-bold text-gray-800 mb-4">Мои отзывы</h2>

  @if (isReviewsLoading()) {
    <span class="loader absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
          style="--loader-color: rgb(159, 159, 159); --loader-size: 64px"></span>
  }
  @else {

    <div class="overflow-y-auto space-y-4 pr-2 flex-1">
      @if (!reviews().length) {
        <div class="flex justify-center items-center h-[300px] w-full">
          <h2 class="text-gray-500 text-lg">У вас нет отзывов</h2>
        </div>
      }
      @else {
        @for (review of reviews(); track review.id) {
          <div class="border-l-4 border-blue-500 bg-blue-50 p-4 rounded w-full">
            <div class="flex justify-between items-center mb-2">
              <p>{{review.rating}}/5 ⭐</p>
              <span class="text-gray-500 text-md">{{review.createdAt | date: 'dd.MM.yyyy'}}</span>
            </div>

            <div class="font-semibold text-gray-900 mb-1">{{review.product.title || 'Без названия'}}</div>
            <div class="text-sm text-gray-500 italic mb-2">Магазин: {{ review.store.title || 'Неизвестно' }}</div>

            <div class="text-gray-700 text-xl">
              <i>{{review.text}}</i>
            </div>
          </div>
        }
      }
    </div>
  }
</div>
