<section class="relative w-full h-[360px] flex">
  <!-- Left Column -->
  <div class="w-1/8 h-full bg-[#75a7c4]"></div>

  <!-- Center Image Section -->
  <div class="w-6/8 h-full bg-[#8ed6fe] flex items-center justify-center">
    <img
      src="assets/images/hero_ecommerce_text.png"
      alt="Hero Image"
      class="w-[1920px] h-[360px] object-contain"
    />
  </div>

  <!-- Right Column -->
  <div class="w-1/8 h-full bg-[#75a7c4]"></div>
</section>
<section class="w-full bg-[#EEEEEE] p-8">
  <app-category-carousel></app-category-carousel>
</section>
